<div class="pageTitle low" ng-bind="title"></div>
<div class="infoCards">
	<div ng-init="getPage()">
		<div ng-if="!showCard" class="infoCard" ng-repeat="item in pageItems" ng-swipe-right="showCard= !showCard">
			  <!--item.d to track which template is displayed-->
			  <div class="templateName" hidden ng-bind="item.templateName"></div>
			  <!--item.d to compare cache/network data times and display most recent data-->
			  <div class="card-last-updated" hidden ng-bind="item.dataLastUpdated"></div>
			  <div class="iconCode {{item.iconClass}}"></div>
			  
			  <div href="" class="description" ng-bind="item.question" ng-click="collapse = !collapse"></div>
			  <div id="demo" class="info" ng-bind="item.answer" ng-if="collapse"></div>

			  <a ng-if="item.link" class="info" ng-href="{{item.link}}">click here</a>
		</div>
	</div>
</div>